
.formStyle{
    display: block;
    width:90%;
    margin: 4vh auto 4vh;
    padding: 1.5vh 5vh;
    height:350px;
    overflow: auto;
    scrollbar-width:thin;
    border-radius: 2%;
    background-color: rgba(154, 22, 150, 0.936);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;;
}

.formStyle > *{
    width:90%;
    margin: 5px auto;
    height: 40px;
    font-size: 18px;
    border-radius: 8px;
}

.formStyle > input, .formStyle > textarea{
    font-weight: bold;
    margin-top: 0;
    background-color: white;
    color: black;
}

.formStyle > button{
    background-color: rgb(62, 140, 212);
    color:white;
    width: 80%;
}

.formStyle > label{
    height: 25px;
    margin-bottom: 0;
}

.formStyle > .css-42b2qy{
    width: 80% !important;
}
