.spinRefresh, .roundRefresh{
    border:4px solid white;
    width:35px;
    height: 35px;
    border-radius: 50%;
    top:7%;
    font-weight: 600;
}

.spinRefresh{
    animation: refreshList 0.5s infinite ;
}
.roundRefresh{
    animation: none;
}
.roundRefresh p, .spinRefresh p{
    left:6vh;
    width:60px;
    color:rgb(63, 77, 233);
    position: relative;
}

@keyframes refreshList {
  25% {
    
    border: 5px solid white;
    border-top:4px solid #2584f1;
  }
  50%{
   
    border: 4px solid white;
    border-right:4px solid #2584f1;
  }
  75%{
  
     border: 5px solid white;
    border-bottom:4px solid #2584f1;
  }
  100% {
    
     border: 4px solid white;
    border-left:4px solid #2584f1;
  }
}

.statusBox{
  color:rgba(30, 29, 29, 0.703);
  padding:5px;
  text-align: center;
  font-weight: 500;
  width:90px;
  border-radius: 20px;
}

.chakraTbody tr td{
  padding:5px 10px;
}

.chakraAlert{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align:center;
  top:200px;
  left:50%;
  width:300px !important;
  height: 100px;
}